*{
    box-sizing: border-box;
  
}

:root{
    --body-bg-color: #333;
    --text-color: #ffffff;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
   
}
body{
    font-size: 2rem; /*36px demek*/;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--body-bg-color);
   color: var(--text-color);
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu a{
   position: relative;
   padding: 5px;
  
   display: block;
  
}
.menu a::before{
 content: '';
 background-color: yellow;
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 transform: scaleX(0);
 transform-origin: left;
 transition: 1s ease-in-out;
}
.menu a:hover::before{
    transform: scaleX(1);
    transition: 1s ease-in-out;
}
.menu.to-left a::before{
    transform-origin: right;
}
.menu.to-center a::before{
    transform-origin: center;
}

/*farklı*/
.menu.to-salih a::before{
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
.menu.to-salih a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: ease-in-out;
}